{
    "discord": {
        "token": "bottokengoeshere",
        "user": "botuseridgoeshere"

    },

    "coin": {
        "type": "ethereum"

    },

    "timer": {
        "checkrate": "600000"  // 10mins is the standard but you can go lower at your own risk of getting a softban from the function of nickname change
    }

}


