{
    "discord": {
        "token": "bottokengoeshere",
        "user": "botuseridgoeshere"

    },

    "coin": {
        "type": "ethereum"

    },

    "timer": {
        "checkrate":600000

    }

}


